Node-red starter application.json
[{"id":"61bb8766.852c48","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"86214302.fd14f","type":"inject","z":"61bb8766.852c48","name":"","topic":"","payload":"Hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["ac57c996.ac8528"]]},{"id":"ac57c996.ac8528","type":"debug","z":"61bb8766.852c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":100,"wires":[]},{"id":"1c904092.75354f","type":"ui_form","z":"61bb8766.852c48","name":"","label":"","group":"5443022c.178d5c","order":0,"width":0,"height":0,"options":[{"label":"Enter the name","value":"name","type":"text","required":true,"rows":null},{"label":"MIS","value":"number","type":"number","required":true,"rows":null},{"label":"Birthdate","value":"date","type":"date","required":true,"rows":null}],"formValue":{"name":"","number":"","date":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":220,"wires":[["4cc3a5ef.191bfc"]]},{"id":"4cc3a5ef.191bfc","type":"function","z":"61bb8766.852c48","name":"","func":"msg.payload= \"Welcome \"+ msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["ac57c996.ac8528","ed139db9.0dd3b"]]},{"id":"ed139db9.0dd3b","type":"ui_text","z":"61bb8766.852c48","group":"3a5ad72e.ee47c8","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":240,"wires":[]},{"id":"5443022c.178d5c","type":"ui_group","z":"","name":"Group","tab":"1c2dfc82.ebc873","order":1,"disp":true,"width":"6","collapse":false},{"id":"3a5ad72e.ee47c8","type":"ui_group","z":"","name":"output","tab":"1c2dfc82.ebc873","order":2,"disp":true,"width":"6","collapse":false},{"id":"1c2dfc82.ebc873","type":"ui_tab","z":"","name":"Tab","icon":"dashboard","disabled":false,"hidden":false}]