Project.json
[{"id":"74afbe91.befb6","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a01be9d.f728b18","type":"ui_form","z":"74afbe91.befb6","name":"","label":"","group":"f32457d8.092d98","order":1,"width":6,"height":2,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":220,"wires":[["29f0e3cc.499cdc"]]},{"id":"29f0e3cc.499cdc","type":"function","z":"74afbe91.befb6","name":"","func":"msg.payload=msg.payload.text\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":160,"wires":[["668c007e.07a7e","edc8109f.ffc42"]]},{"id":"3ff8c9a7.73e276","type":"function","z":"74afbe91.befb6","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["240ea6b8.ae033a"]]},{"id":"edc8109f.ffc42","type":"watson-conversation-v1","z":"74afbe91.befb6","name":"Customer Care","workspaceid":"8e913a96-ebd3-42b3-816e-3508f64e084c","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/ba641e6e-dca0-4e0d-9936-e3997db952f1","timeout":"","optout-learning":false,"x":460,"y":100,"wires":[["3f06215f.85dbee","3ff8c9a7.73e276"]]},{"id":"668c007e.07a7e","type":"ui_text","z":"74afbe91.befb6","group":"f32457d8.092d98","order":2,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-left","x":410,"y":260,"wires":[]},{"id":"3f06215f.85dbee","type":"debug","z":"74afbe91.befb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":60,"wires":[]},{"id":"240ea6b8.ae033a","type":"ui_text","z":"74afbe91.befb6","group":"12a81db3.d8eeb2","order":1,"width":6,"height":9,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":700,"y":240,"wires":[]},{"id":"f32457d8.092d98","type":"ui_group","z":"","name":"Chatbot","tab":"3768b364.ec7a6c","order":1,"disp":true,"width":"6","collapse":false},{"id":"12a81db3.d8eeb2","type":"ui_group","z":"","name":"Output","tab":"3768b364.ec7a6c","order":2,"disp":true,"width":"6","collapse":false},{"id":"3768b364.ec7a6c","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]